[Unit]
Description=nexus service
After=network.target

[Service]
Type=forking
ExecStart={{ nexus.install.path }}/nexus/bin/nexus start
ExecStop={{ nexus.install.path }}/nexus/bin/nexus stop
User={{ nexus.user.name }}
Restart=on-abort

[Install]
WantedBy=multi-user.target